#Lampe {
    background-color: rgb(255, 234, 0);
    background-image: url("IMG_1943.png");
    height: 125px; 
    width: 125px;
    border-radius: 125px; 
    display: flex;
    justify-content:center;
    flex-direction: column-reverse;
    align-items: center;
}

button {
    height: 25px; 
    width: 25px;
    background-color: rgb(0, 0, 0);
    border-radius: 7,5px; 
    color:rgb(255, 234, 0);
    font-size: 5px;
}